doctype html
html(lang='ja')
  head
    title vue.js sample 
    link(href='css/main.css' rel='stylesheet')
    meta(name='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

  body
    block contents
    script(src='/js/vue-1.0.11.js')
    script(src='/js/jquery-2.1.4.min.js')
    block scripts

  
